@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Serif:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
}
.navbar{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    padding: 10px;
    background-color: black !important;
}
.navbar-brand{
    color: white !important;
    font-size: 20px;
}
.nav-link{
    color: white !important; 
}
.nav-item{
    padding-left: 30px;
}
.nav-link:hover{
    color: rgb(191, 115, 96) !important;
}
.background{
    display: flex;
    background-color: #292128;
    justify-content: center;
}
.img-fluid{
    height: 100vh;
}
.name{
    position: absolute;
    top: 70%;
    width: 100%;
    max-width: 100%;
}
.name h4{
    font-size: 2.2em;
    font-weight: bolder;
    color: white;
}
.name h3{
    font-size: 2.6em;
    font-weight: 800;
    color: white;
}
.name h5{
    font-size: 1.8em;
    font-weight: bold;
    color: white;
}