@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Serif:wght@500&display=swap');
*{
    box-sizing: border-box;
    height: 100;
    width: 100%;
    
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
}
.navbar{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    padding: 10px;
    background-color: black !important;
}
.navbar-brand{
    color: white !important;
    font-size: 20px;
}
.nav-link{
    color: white !important; 
}
/* .nav-item{
    padding: 10px;
} */
.nav-link:hover{
    color: rgb(191, 115, 96) !important;
}
.background{
    display: flex;
    background-color: #292128;
    justify-content: center;
}
.img-fluid{
    height: 100vh;
    width: auto;
}
.name{
    position: absolute;
    top: 70%;
    width: 100%;
    max-width: 100%;
}
.name h4{
    font-size: 2.2em;
    font-weight: bolder;
    color: white;
}
.name h3{
    font-size: 2.6em;
    font-weight: 800;
    color: white;
}
.name h5{
    font-size: 1.8em;
    font-weight: bold;
    color: white;
}
.about h3{
    font-size: 4em;
    text-align: center;
    padding-top: 20px;
}
.underline{
    margin-top: -20px;
    color: rgb(191, 115, 96);
}
.row{
    background-color: #292128;
    color: white;
    display: flex;
    flex-direction: row;
}
.image2{
    width: 16.5cm;
    height: 16.5cm;
}
.details{
    margin-top: 50px;
    text-align: start;
}
.details h2{
    font-size: 2.5em;
    font-weight: lighter;
}
.details p{
    font-size: 1.2em;
}
.details ol{
    list-style: none;
    font-size: 1.1em;
    display: inline-block;
    
}
.abtdetails{
    font-weight: 700;
    font-size: 1.2em;
    margin-right: 20px;
}
.details ol li{
    display: inline-block
    
}
.container h3{
    font-size: 4em;
    text-align: center;
    padding-top: 20px;
}
.table{
    background-color: #292128 !important;
    color: white;
}
